body{
    background: url(/IMAGENS/Background.jpg);
    background-size: cover; /*ajusta a imagem na tela todo*/
    font-family: "Inter" !important;
    background-position: center;
    height: 100vh;/* Faz o body ocupar toda a altura da tela */
    margin: 0; /* Remove as margens padrão */
}

#logoPrincipal{
    width: 65px;
    position: relative;
    margin-top: -5px;
    margin-left: 10px;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(236, 236, 236);
    width: 100%; /* Usa 100% da largura da viewport */
    left: 0px; /* Garante que fique na esquerda */
    justify-content: space-between; /* Garante que os itens sejam distribuídos adequadamente */
}

#logoSlogan{
    margin-right: 100%;
    margin-left: 3px;

}
#nomeIgreja {
    margin-top: 19px;
    font-family: "Anton";
    font-style: normal; 
    white-space: nowrap; /*Impede a quebra de linha*/
}

#slogan {
    font-family: "Londrina Solid";
    text-align: right;
    margin-right: 1px;
    margin-top: -15px;
    position: relative;
} 

form{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.404);
    padding: 25px; /*Define a margem*/
    border-radius: 10px; /*Cantos arredondados*/
    position: absolute /*Define o tamanho do background indiretamente*/;
    left: 50%; /*Horizontal*/
    top:50%; /*Vertical*/
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    max-width: 450px;
}

    margin-left: -100px;
}
/*-----------------------------------------------------------------------------------------------------------------*/