#logoPrincipal{
    width: 70px;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
    width: 100vw; /* Usa 100% da largura da viewport */
    left: 0; /* Garante que fique na esquerda */
    justify-content: space-between; /* Garante que os itens sejam distribuídos adequadamente */
}

#nomeIgreja {
    font-family: "Anton";
    font-style: normal; 
    white-space: nowrap; /*Impede a quebra de linha*/
  }

#logoSlogan{
    margin-right: 100%;
    margin-left: 5px;

}

#slogan {
    font-family: "Londrina Solid";
    text-align: right;
    margin-top: -15px;
    position: relative;
} 